*{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

html,
body {
    --text: #000000;
    --background-tools: #F4F4F4;
    --background-work: #FFFFFF;
    --hov: #000000;
    --background-btn: #eaeef1;
    --hover-btn: ;

    color: var(--text);
    height: 100%;
    margin: 0;
}
.dark {
    --text: #afb1b3;
    --background-tools: #3c3f41;
    --background-work: #2b2b2b;
    --hov: #3e86a0;
    --background-btn: #45494a;
    --hover-btn: #2b2b2b;
}


input{
    font-size: 16px;
    background: var(--background-btn);
    color: var(--text);
}
select{
    max-width: 180px;
    font-size: 16px;
    color: var(--text);
    background: var(--background-btn);
}
.hov{
    color: var(--hov);
}











.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/*.box .row {
  border: 1px dotted #0313fc;
}*/

.box .row.header {
  flex: 0 1 auto;
}

.control_area {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  flex: 1 1 auto;
}
.control_area div{
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  flex: 1 1 auto;
}



.upload_area * {
    display: inline-block;

}
.text-controls {

    display: inline-block;
}
.text-controls div {
    margin: 5px;
    display: block;
}
.text-controls div div * {
    margin: 1px;
}
#txt-cntrl-1{
    min-width: 320px;
}
#txt-cntrl-2{
    min-width: 155px;
}
#txt-cntrl-3{
    min-width: 130px;
}






.elements-control{
    max-width: 600px;
    display: inline-block;
}
.elements-control div{
    margin: 5px;
    display: block;
}
.elements-control div *{
    margin: 6px;
}
#el-cntrl-1{
    min-width: 215px;
    max-width: 200px;
}
#el-cntrl-2{
    min-width: 215px;
    max-width: 200px;
}
#el-cntrl-3{
    min-width: 170px;
    max-width: 200px;
}
.btn {
        border: 1px solid;
        text-font: Times New Roman;
        text-align:center;
        font-size:13px;
        text-decoration: none;
        font-weight: 700;
        padding: 3px 6px;
        background: var(--background-btn);
        display: inline-block;
        min-width: 90px;
        border-radius: 5px;
        color: var(--text);

}

.btn:hover, .btn.hover {
        background: #fff;
}
.btn:active, .btn.active {
        background: #d0d3d6;
        background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
        box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}

.lng-btn {
        border: 1px solid;
        color: var(--text);
        text-align:center;
        font-size:13px;
        font-weight: 600;
        padding: 3px 6px;
        background: var(--background-btn);
        display: inline-block;
        min-width: 194px;
        border-radius: 5px;

}

.lng-btn:hover, .lng-btn.hover {
        background: #fff;
}
.lng-btn:active, .lng-btn.active {
        background: #d0d3d6;
        background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
        box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}



.brush-control{
    margin-left: 10px;
    display: inline-block;
}
.brush-control div {
    min-width: 230px;
    margin: 5px;
    display: block;
}
.brush-control div div *{
    margin: 1px;
}
/*#upload-file{
    display: inline-block;
}

#font-input{
    display: inline-block;
}*/

.upload_area {
  min-width: 800px;
  margin-bottom: 15px;
}

.box .row.content {
  min-width: 400px;
  display: flex;
  background: var(--background-work);
  justify-content: flex-start;
  /*flex-direction: row;*/
  flex-flow: row;
  /*border-style: solid;
  margin:0 100px 0 100px;*/
  flex: 1 1 auto;
}

.box .row.content.canvas {
  /*border-style: solid;
  margin:0 100px 0 100px;*/
  flex: 1 1 auto;
}

#separator {
    cursor: col-resize;
    background-color: #aaa;
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 100%;

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu {
  width: 200px;
  display: inline-block;
  min-width: 100px;
  background: var(--background-tools);
  /*border-right: 2px solid;
  height: 100px;*/
  /*border-style: solid;
  flex: 1 1 100px;*/
}
.menu > img{
  /*border: 2px solid green;*/

  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
}



.box .row.footer {
  flex: 0 0 50px;
  border:solid 1px #aaa;
  background: var(--background-tools);/**/
  border-radius:3px;
}

canvas {
    border: 2px solid green;
}

.bi {
    font-size: 25px;
}
.label {
    /*color: black;*/
    font-size: 18px;
    margin-right: 1px;
}

.group {
  padding: 0.25em;
  display: block;
  float: left;
}

body > .group{
    margin-left: 1px;
    margin-right: 5px;
}

.sample-toolbar
{
    border:solid 1px #aaa;
    background: var(--background-tools);
    padding: 5px;
    overflow: auto;
}

.sample-toolbar > span
{
    padding: 5px;
    cursor:pointer;
}

.sample-toolbar > input
{
    padding: 5px;
    cursor:pointer;
}

.sample-toolbar > datalist
{
    margin-left: 1px;
    margin-right: 10px;
    padding: 5px;
    cursor:pointer;
}

.hov:hover:before
{
    background-color: #fec8d8;
    text-decoration:underline;
    border-radius: 7px;
}

.red
{
    background-color:red;
}

.bi-arrow-left-square {
    font-size: 40px;
}


.bi-arrow-right-square {
    font-size: 40px;
}



.menu > li {
  display: block;
}

.menu > li > input[type="checkbox"] {
  display: none;
}
/*.menu > li > label > img{
  margin: 0 auto;
  margin-top: 10px;
}*/

.menu > li > label {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu > li > label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.menu > li > label img {
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

/*.menu > li > :checked+label {
  border-color: red;
}*/

.menu > li > :checked+label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

.menu > li > :checked+label img {
  border: 2px solid red;
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

#panzoom canvas , .canvas-container {
  position: absolute!important;
  left: 0!important;
  top: 0!important;
}

#cursor {
  pointer-events: none!important;
}